* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {   
    width: 100vw;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

/* top header */
.top-header {
    height: 80px;
    line-height: 80px;
    width: 100vw;
    background-color: rgb(49, 97, 224);
    display: inline-block;
}

.top-header nav{
    width: 50%;
    display: inline-block;
    text-align: center;
}

.top-header li{
    display: inline-block;
}

.logo {
    width: 20%;
    display: inline-block;
    text-align: center;   
}

.logo img {
    vertical-align: middle;
}

.btn {
    background-color: white;
    border-radius: 50px;
    display: inline-block;
    height: 40px;
    padding: 0px 10px; 
    margin: 20px 0px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: black;
}

.btn:hover {
    color: blue;
    text-decoration: underline;
}

li a:hover {
    text-decoration: underline;
}

li a {
    color: white;
    margin: 0px 15px;
    text-decoration: none;
    line-height: 35px;
}
/* fine top header */

/* inizio jumbotron */
.jumbotron {
    height: 500px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
}

.dark-btn {
    background-color: black;
    color: white;
    margin-left: 20px;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content h1 {
    margin-bottom: 20px;
    font-size: 45px;
}

.content p {
    line-height: 30px;
    font-size: 20px;
}
/* fine jumbotron */

/* inizio section */
section {
    height: 800px;
    width: 100vw;
    margin: auto;
    display: inline-block;
    padding-top: 150px;
}

.container {
    height: 100%;
    width: 55%;
    margin: auto;
}

.last-section {
    height: 1000px;
    padding-top: 50px;
    width: 100vw;
    text-align: center;
}

article {
    width: 300px;
    margin-top: 30px;
}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

p {
    line-height: 20px;
    font-weight: 600;
}

#big {
    width: 100%;
}

.star {
    margin-left: 250px;
    height: 50px;
    line-height: 50px;
    width: 550px;
    background-image: url("../img/stars.svg");
    background-size: cover;
    vertical-align: middle;
}

.blue {
    color: white;
    background-color: rgb(49, 97, 224);
}

.grey {
    background-color: #f6f6f6;
}
/* fine container */

/* inizio footer */
footer {
    height: 600px;
    width: 100vw;
    background-color: #23272a;
    padding-top: 80px;
}

.social {
    width: 150px;
    margin-right: 120px;
    color: white;

}

.flag {
    height: 15px;
    width: 20px;
    background-image: url("../img/ita.png");
    background-size: contain;
    display: inline-block;
}

.icons {
    margin-top: 15px;
}

.fab {
    margin: 0 5px;
    font-size: 20px;                                                                                                                                                                        
}

.fab:hover {
    cursor: pointer;
    color: rgb(49, 97, 224);
}

.col {
    width: 150px;
    color: white;
}

.col ul {
    text-decoration: none;
    list-style: none;
}

.col-title {
    color: rgb(49, 97, 224);
    margin-left: 15px;
}

#social-title {
    color: rgb(49, 97, 224);
    margin-bottom: 20px;
}

.bottom-footer {
    border-top: 1px solid rgb(49, 97, 224);
    width: 100%;
}

.logo.float-left {
    margin-top: 20px;
}
/* fine footer */
  