* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {   
    width: 100vw;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

/* top header */
.top-header {
    height: 80px;
    line-height: 80px;
    width: 100vw;
    background-color: rgb(49, 97, 224);
    display: inline-block;
}

.top-header nav{
    width: 50%;
    display: inline-block;
    text-align: center;
}

.top-header li{
    display: inline-block;
}

.logo {
    width: 20%;
    display: inline-block;
    text-align: center;
    
}

.logo img {
    vertical-align: middle;
}

.top-header li a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.btn {
    background-color: white;
    border-radius: 50px;
    display: inline-block;
    height: 40px;
    padding: 0px 10px; 
    margin: 20px 0px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: black;
}

.btn:hover {
    color: blue;
    text-decoration: underline;
}

.top-header li a:hover {
    text-decoration: underline;
}
/* fine top header */

/* inizio jumbotron */
.jumbotron {
    height: 500px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
}

.dark-btn {
    background-color: black;
    color: white;
    margin-left: 20px;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content h1 {
    margin-bottom: 20px;
    font-size: 45px;
}

.content p {
    line-height: 30px;
    font-size: 20px;
}
/* fine jumbotron */

.container {
    height: 800px;
    width: 100vw;
    margin: auto;
    display: inline-block;
    padding-top: 150px;
}

/* inizio container */
article {
    width: 300px;
    margin-top: 30px;
}

article h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

article p {
    line-height: 20px;
    font-weight: 600;
}

.focus {
    height: 100%;
    width: 55%;
    margin: auto;
    border: 2px soldi black;
}
/* fine container */

